.left,
.right-top,
.right-bottom {
  display: inline-flexbox;
  float: left;
}

.left {
  width: calc(20% - 1px);
  height: 100%;
  border-right: 1px solid #c4c4c4;
}

.left ul {
  padding: 15px 0px 10px 0px;
}

.left ul li {
  list-style: none;
  padding-left: 35px;
}

.left ul li:hover {
  background-color: coral;
  border-color: coral;
  cursor: pointer;
}

.avator {
  margin-top: 15px;
  height: 80px;
  width: 80px;
  border-radius: 50px;
}

.avator:hover {
  cursor: pointer;
}

.right-top {
  background-color: #f1f1f1;
  border-bottom: 1px solid #c4c4c4;
  width: 80%;
  height: 64px;
}

.right-bottom {
  // background-color: darkslateblue;
  width: 80%;
  height: calc(100vh - 128px);
}

.plan-list {
  overflow: auto;
  height: calc(100vh - 165px);
}